######################################
# Terraform
######################################
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

######################################
# Environment variables
######################################
.env
.env.*
!.env.example

######################################
# Kubernetes / Helm
######################################
*.log
*.tmp
*.bak

######################################
# Backstage
######################################
backstage/node_modules/
backstage/dist/
backstage/.cache/

######################################
# OS / IDE
######################################
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

######################################
# Docker
######################################
docker-compose.override.yml

######################################
# Generated binaries
######################################
*.exe
*.out
